apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ include "ipam.fullname" . }}-frontend
  namespace: {{ .Values.global.namespace }}
  labels:
    {{- include "ipam.labels" . | nindent 4 }}
    app: {{ include "ipam.name" . }}-frontend
spec:
  replicas: {{ .Values.frontend.replicas }}
  selector:
    matchLabels:
      {{- include "ipam.selectorLabels" . | nindent 6 }}
      app: {{ include "ipam.name" . }}-frontend
  template:
    metadata:
      labels:
        {{- include "ipam.selectorLabels" . | nindent 8 }}
        app: {{ include "ipam.name" . }}-frontend
    spec:
      # imagePullSecrets:
      #   - name: regcred
      containers:
        - name: frontend
          image: "{{ .Values.frontend.image.repository }}:{{ .Values.frontend.image.tag }}"
          imagePullPolicy: {{ .Values.frontend.image.pullPolicy }}
          ports:
            - name: http
              containerPort: 80
          resources:
            requests:
              memory: "64Mi"
              cpu: "50m"
            limits:
              memory: "256Mi"
              cpu: "200m"
          livenessProbe:
            httpGet:
              path: /
              port: http
            initialDelaySeconds: 10
            periodSeconds: 10
          readinessProbe:
            httpGet:
              path: /
              port: http
            initialDelaySeconds: 5
            periodSeconds: 5
---
apiVersion: v1
kind: Service
metadata:
  name: {{ include "ipam.fullname" . }}-frontend
  namespace: {{ .Values.global.namespace }}
  labels:
    {{- include "ipam.labels" . | nindent 4 }}
spec:
  type: {{ .Values.frontend.service.type }}
  ports:
    - port: {{ .Values.frontend.service.port }}
      targetPort: http
      protocol: TCP
      name: http
  selector:
    {{- include "ipam.selectorLabels" . | nindent 4 }}
    app: {{ include "ipam.name" . }}-frontend
